/* Navbar.css */

.nav {
  background-color: #e0b816; /* Background color of the navbar */
  padding: 10px 20px; /* Padding around the navbar */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; /* Make navbar fixed to the top */
  top: 0; /* Stick navbar to the top */
  width: 100%; /* Make navbar full width */
  margin-top: auto;
  z-index: 1000; /* Ensure navbar stays above other content */
}

.logo {
  display: flex;
  align-items: center;
  font-size: 30px; /* Font size of the logo text */
  font-weight:bold;
}

.logo img {
  width: 50px; /* Adjust the width of the logo image */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px; /* Add some spacing between the logo and text */
}

.logo a {
  color: #333; /* Color of the logo text */
  text-decoration: none; /* Remove underline from the logo text */
  display: flex;
  align-items: center;
}
/*-------------------SEARCH BAR-------------------------*/
.search-container {
  position: absolute;
  right: 20px; /* Adjust the distance from the right side */
  display: flex;
  align-items: center;
}

.search-bar {
  border: 2px solid #a020f0; /* Purple outline */
  border-radius: 5px; /* Add some border radius */
  padding: 8px 10px; /* Adjust padding for better spacing */
  margin-right: 10px; /* Add some spacing between search bar and button */
}

.search-button {
  color: #440b67; /* Purple background for the button */
  color: white; /* Text color of the button */
  width: 100px;
  cursor: pointer; /* Add pointer cursor on hover */
}

.search-button :hover{
  color: #a020f0;
}

/*-------------------LINKS-----------------------*/
.navlinks{
  text-align: right;
  font-weight: lighter;
}

.ulist {
  list-style-type: none; /* Remove bullet points from the list */
  margin: 0;
  padding: 0;
  display: flex;
}

.ulist li{
  margin-left: 20px; /* Add spacing between navbar items */
}

.pdln {
  color:#000000; /* Color of the navbar links */
  text-decoration: none; /* Remove underline from the navbar links */
  font-size: 16px; /* Font size of the navbar links */
}

.pdln:hover {
  color: #a020f0; /* Color of the navbar links on hover */
}
