/* Navbar.css */

/* Common styles */
.max-width {
  max-width: 1100px;
  margin: 0 auto;
}

.absolute-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navbar styling */
.nav {
  background-color: #e0b816;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* Logo styling */
.logo {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
}

.logo img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.logo a {
  color: #333;
  text-decoration: none;
  display: flex;
  align-items: center;
}

/* Navbar links styling */
.navlinks {
  text-align: right;
  font-weight: 600;
  display: flex;
  flex-grow: 1; /* Allow the navbar links to grow and take up remaining space */
  justify-content: flex-end; /* Align items to the right */
}

.ulist {
  list-style-type: none;
  display: flex;
  gap: 20px; /* Add some space between the list items */
}

.pdln {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
}

.pdln:hover {
  color: #a020f0;
}

/* Additional styles */
.header-location-search-container {
  height: 48px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: 1px solid ;
  width: 600px;
  box-shadow: 0 2px 4px rgba(152, 31, 179, 0.6); /* Added box-shadow */
  margin-right: auto; /* Move the container to the left by setting margin-right to auto */
}
.location-wrapper {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 5px 10px;
}

.location-icon-name {
  display: flex;
  font-size: 18px;
  color: #ffffff;
  padding: 5px 10px;
}

.location-icon {
  color: rgb(255, 46, 46);
  font-size: 20px;
  margin-right: 8px;
}

.location-search-seperator {
  content: '';
  display: inline-block;
  width: 2px; /* Adjust the width of the vertical line as needed */
  height: 40px; /* Adjust the height of the vertical line as needed */
  background-color: #e6e6e6; /* Adjust the color of the vertical line as needed */
  margin-left: 5px;
}

.header-searchBar {
  flex: 1; /* Adjusted to take up remaining space */
  margin-right: 12px; /* Retained margin for spacing */
  display: flex; /* Added to align items horizontally */
  align-items: center; /* Added to center items vertically */
}
.search-icon {
  font-size: 20px;
  color: #9f2dc2;
  margin: 12px;
}

.search-input {
  border: none;
  outline: none;
  width: 100%;
  padding: 10px; /* Increased padding for better appearance */
  font-size: 14px;
  border-radius: 20px; /* Added border-radius for rounded edges */
  margin: 0; /* Reset margin to ensure alignment */
}

.profile-wrapper {
  position: relative; /* Make the wrapper a positioned container */
  display: flex; /* Make the wrapper a flex container */
  align-items: center; /* Align items vertically */
}

/* Adjusted styles for profile image and username */
.header-profile-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 8px; /* Add margin to separate from the username */
}

.header-username {
  font-size: 20px;
  font-weight: 400;
}

/* Add this CSS for dropdown menu */
.dropdown-menu {
  position: absolute; /* Position the dropdown menu */
  top: calc(100% + 5px); /* Position the dropdown below the profile wrapper */
  left: 100; /* Align the dropdown with the left edge of the profile wrapper */
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(152, 31, 179, 0.6);
  z-index: 1001;
  max-height: 200px;
  overflow-y: auto;
}
.dropdown-menu li {
  padding: 10px; /* Adjust padding for dropdown items */
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #f0f0f0; /* Change background color on hover */
}
